


<div class="page-wrapper">

    <div class="form-group-c"  [formGroup]="settingForm">
        <h3> All Recipients  </h3>

        <div class="form-group">
            <label for=""> Broadcast name <span>  * </span> </label>
            <input
              class="form-input"
              type="email"
              required
              name="email"
              placeholder="username@gmail.com"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && formField.email.errors }"
            />
            <span class="tag-info"> Used to identify your broadcast in Lemon Squeezy and is not public  </span>
            <div *ngIf="submitted && formField.email.errors" class="invalid-feedback">
              <div *ngIf="formField.email.errors.required">Email is required</div>
              <div *ngIf="formField.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for=""> Subject</label>
            <input
              class="form-input"
              type="email"
              required
              name="subject"
              placeholder="username@gmail.com"
              formControlName="Subject"
              [ngClass]="{ 'is-invalid': submitted && formField.email.errors }"
            />
             <input
                class="form-input"
                type="email"
                required
                name="email"
                placeholder="Optional preview text"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && formField.email.errors }"
            />
            <span class="tag-info"> Good subject line give people to check your content <br>
                 Preview text (optional) appears in the inbox  after the subject line.
            </span>
    
            <div *ngIf="submitted && formField.email.errors" class="invalid-feedback">
              <div *ngIf="formField.email.errors.required">Email is required</div>
              <div *ngIf="formField.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for=""> Sender </label>
            <div class="form-col">
            <input
              class="form-input"
              type="email"
              required
              name="email"
              placeholder="username@gmail.com"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && formField.email.errors }"
            />
            <input
            class="form-input"
            type="email"
            required
            name="email"
            placeholder="username@gmail.com"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && formField.email.errors }"
            />
          </div>
          <span class="tag-info">  
            Emails will be sent from a unique Lemon Squeezy store address. <br>
            Replies will be sent to the email address you provide
          </span>
            <div *ngIf="submitted && formField.email.errors" class="invalid-feedback">
              <div *ngIf="formField.email.errors.required">Email is required</div>
              <div *ngIf="formField.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for=""> Recipients </label>
            <input
              class="form-input"
              type="email"
              required
              name="email"
              placeholder="All Subscribers"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && formField.email.errors }"
            />
            <div *ngIf="submitted && formField.email.errors" class="invalid-feedback">
              <div *ngIf="formField.email.errors.required">Email is required</div>
              <div *ngIf="formField.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>

    
          <br>
          <button type="submit" class="btn btn-dark"> Next </button>
    </div>
</div>