<div class="container">
  <div class="wrapper">

    <div class="mb-3 xl:w-96">
      <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-gray-700"> Broadcast name *
      </label>
      <input type="text"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleFormControlInput1" placeholder="Lemon Squeezy Slack Invite" />
      <span> Use to identify your boardcast in Lemon Squeezy and is not public </span>
    </div>




    <div class="mb-3 xl:w-96">
      <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-gray-700"> Subject *
      </label>
      <input type="text"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleFormControlInput1" placeholder=" " />
        <input type="text"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleFormControlInput1" placeholder=" " />
        <span>  Good subject lines gives people a reason to check out your content <br>
             Preview text (optional) appears in the inbox after the subject line 
        </span>

    </div>


    <div class="mb-3 xl:w-96">
        <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-gray-700"> Sender *
        </label>
        <input type="text"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="exampleFormControlInput1" placeholder=" " />
          <span>  Good subject lines gives people a reason to check out your content <br>
            Preview text (optional) appears in the inbox after the subject line 
       </span>
      </div>


      <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0">
        <div class="w-full px-2 md:w-1/2">
          <!-- <label class="block mb-1" for="formGridCode_name"></label> -->
          <input class="w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:shadow-outline" type="text" id="formGridCode_name" placeholder="full Name"/>
        </div>
        <div class="w-full px-2 md:w-1/2">
          <!-- <label class="block mb-1" for="formGridCode_last">Last name</label> -->
          <input class="w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:shadow-outline" type="text" id="formGridCode_last" placeholder="user email"/>
        </div>
      </div>

      <div class="mb-3 xl:w-96">
        <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-gray-700"> Recipients *
        </label>
        <input type="text"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleFormControlInput1" placeholder="" />
    
        </div>



        <button> Add  </button>
        <button> Import </button>

      <div class="mb-3 xl:w-96">
       

        <div *ngIf="true">
            <input type="text"
            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleFormControlInput1" placeholder="" />
      
        </div>


     </div>




      <!-- <div class="inline-block relative w-64">
        <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
          <option> Add </option>
          <option> Import </option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div> -->
      

   
  </div>
</div>
